@import '../Styles/StylesColors.scss';

@keyframes blink-barYellow {
  0% {
      opacity: .5;
  }
  50% {
      opacity: 1;
      box-shadow: 0 0 30px $yellow;
  }
  100% {
      opacity: .5;
  }
}

@keyframes blink-barPink {
  0% {
      opacity: .5;
  }
  50% {
      opacity: 1;
      box-shadow: 0 0 30px $pink;
  }
  100% {
      opacity: .5;
  }
}

@keyframes blink-barGreen {
  0% {
      opacity: .5;
  }
  50% {
      opacity: 1;
      box-shadow: 0 0 30px $favorite-green;
  }
  100% {
      opacity: .5;
  }
}



.pink {
  background: $pink;
  animation: blink-barPink 2s ease-in .3s infinite;
}

.green {
  background: $favorite-green;
  animation: blink-barGreen 2.5s infinite;
}

.yellow-bar {
  background: $yellow;
  animation: blink-barYellow .5s ease-out infinite;
}


.bar {
  width: 24px;
  height: 6px;
}

.threebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.module {
  height: 45px;
  width: 45px;
  background: $module-blue;
  margin: 2px;
}


.back-box {
  height: 26px;
  width: 20px;
  background: $highlight-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
