@import './StylesColors.scss';

.flex {
    display: flex;
    background: transparent;
    box-sizing: content-box;
    margin: 10px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 495px;
    height: 495px;
}

.box {
    height: 45px;
    width: 45px;
    margin: 2px;
}

.blank {
    background: $primary-blue;
}

.module {
    height: 45px;
    width: 45px;
    background: $module-blue;
    margin: 2px;
  }