$primary-blue: #0E2079;
$module-blue: #224EDE;
$highlight-blue: #2B85F8;
$missed-blue: #1C2861;
$favorite-green: #1FF1E5;
$pink: #FD5FBF;
$missed-pink: #93376F;
$yellow: #FFFDC4;
$black: #000000;
$white: #FFFFFF;
$shadow-grey: #C4C4C4;
$light-grey: #E5E5E5;