@import '../../Styles/styles.scss';

.add-map {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: $black;
    min-height: calc(100vh - 70px);
    width: 100vw;
    position: relative;
}

.addmap-navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    background: $white;
    display: flex;
    justify-content: space-between;
}

.addmap-logo {
    height: 50px;
    width: 50px;
    background: $white;
    margin: 10px;

    &:hover {
        background: $favorite-green;
    }
}

.addmap-link-container {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $white;
    
    a {
        text-decoration: none;
        color: $black;
        background: $white;
        font-size: 16px; 
    }

    :first-child:hover {
        color: $pink;
    }

    :nth-child(2):hover {
        color: $favorite-green;
    }

    :nth-child(3):hover {
        color: $highlight-blue;
    }
    
    button {
        background: $white;
        color: $black;
        border: none;
        font-size: 16px;
    }
}

.input-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add-map-input {
    height: 20px;
    width: 100px;
}

.module-container {
    width: 550px;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    background: $white;
    box-shadow: 10px 10px 0 $shadow-grey;
}

.top-left-box {
    width: 550px;
    height: 75px;
    background: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    
    button {
        background: $pink;
        border: none;
        color: $white;
        height: 40px;
        width: 110px;
        font-size: 24px;
    }
    
    input {
        border: none;
        border-bottom: 3px solid $favorite-green;
        width: 50%;
        height: 40px;
        font-size: 24px;
    }
}

.cut-2 {
    grid-column: 1;
    grid-row: 3 / 4;
}

.cut-3 {
    grid-column: 1;
    grid-row: 4 / 6;
}

.cut-3b {
    grid-column: 1;
    grid-row: 5 / 8;
}

.cut-4 {
    grid-column: 2;
    grid-row: 2 / 5;
}

.cut-5 {
    grid-column: 2;
    grid-row: 4 / 8;
}