@import '../../Styles/styles.scss';

.reg {
    background: $black;
    background-size: 6vh 6vh;
    background-image: linear-gradient(to right, rgba(89,89,89,.8) 2px, transparent 2px), linear-gradient(to bottom, rgba(89,89,89,.8) 2px, transparent 2px);
    background-position-x: -1%;
    background-position-y: -1%;
    height: calc(100vh - 70px);
    width: 100vw;
    position: relative;
}

.reg-card {
    background: $white;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 10px 0 $favorite-green;

    input {
        border: none;
        border-bottom: 1px solid $shadow-grey;
        height: 20px;
    }

    select {
        border: none;
        background: none;

        option {
            background: $pink;
        }
    }

    button {
        width: 75px;
        height: 30px;
        background: $favorite-green;
        border: none;

        &:hover {
            background: $pink;
        }

        &:active {
            background: $black;
            color: $white;
        }
    }
}