@import '../../Styles/styles.scss';

.dash {
    background: $white;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.welcome {
    color: $white;
}

.button {
    background: $pink;
}

.game-list {
    height: 400px;
    width: 400px;
    background: $favorite-green;
}