@import '../../Styles/styles.scss';

.map-display-main {
  width: 100vw;
  height: calc(100vh - 70px);
  background: rgba(255,255,255,.5);
  position: absolute;
  z-index: 5;;

  button {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $pink;
    color: $white;
    font-size: 15px;
    border: none;
    z-index: 6;
  }
}

.map-display-board {
  width: 490px;
  height: 490px;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  background: rgba(255,255,255,.8)
}