@import '../../Styles/styles.scss';

.gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: calc(100vh - 70px);
    background: $black;

    h6 {
        color: $white;
    }
}

.board {
    height: 495px;
    width: 495px;
    display: flex;
    flex-wrap: wrap;
}

.gameboards-main-section {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: $white;
    width: 30vw;
    height: 75vh;
    box-shadow: 10px 10px 0 $shadow-grey;

    button {
        width: 80%;
        height: 50px;
        background: $module-blue;
        font-size: 20px;
        color: $white;
        border: none;
    }
}

.player-board {
    height: 220px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
}

.opponent-board {
    height: 495px;
    width: 495px;
    display: flex;
    flex-wrap: wrap;
}

.timer {
    width: 70%;
    height: 30%;
    background: $shadow-grey;
}
