@import '../../Styles/styles.scss';

.gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: calc(100vh - 70px);
    background: $black;

    h6 {
        color: $white;
    }
}

.board {
    height: 495px;
    width: 495px;
    display: flex;
    flex-wrap: wrap;
}

.gameboards-main-section {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: $white;
    width: 30vw;
    height: 75vh;
    box-shadow: 10px 10px 0 $shadow-grey;

    button {
        width: 80%;
        height: 50px;
        background: $module-blue;
        font-size: 20px;
        color: $white;
        border: none;
    }
}

.player-board {
    height: 220px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
        color: $white;
        margin-bottom: 10px;
    }
}

.opponent-board {
    height: 495px;
    width: 495px;
    display: flex;
    flex-wrap: wrap;
}

.left-middle-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
}

.legend-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 45%;
}

.legend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 23px;
    border-bottom: 2px solid $favorite-green;

    img {
        width: 20px;
        height: 20px;
    }

    p {
        font-size: 12px;
    }
}

.legend-modules {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.legend-box {
    width: 20px;
    height: 20px;
}

.legend-blue {
    background: $highlight-blue;
}

.legend-grey {
    background: $shadow-grey;
}

.legend-black {
    background: $black;
}

.legend-maroon {
    background: $missed-pink;
}

.timer {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: $favorite-green;
    }
}
