@import '../../Styles/styles.scss';

.box-and-shadow {
    background: $white;
    box-shadow: 10px 10px 0 $shadow-grey;
}

.lobby {
    height: 80vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white; 
    position: relative;

    h2 {
        margin: 20px 0;
    }
}

.lobby-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: $black;
    color: $white;
    border: none;
    width: 50px;
    height: 25px;
    font-size: 16px;

    &:hover {
        background: $favorite-green;
    }
}

.lobby-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-2 {
    background: $favorite-green;
    width: 70%;
    height: 30px;
    color: $white;
    border: none;
    margin: 10px;

    &:hover {
        background: $pink;
    }
}

.game-name-inputs {
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    input {
        border: none;
        border-bottom: 3px solid $favorite-green;
        font-size: 18px;
        width: 50%;
    }
}

.button {
    background: $pink;
    width: 150px;
    height: 30px;
    color: $white;
    border: none;
    font-size: 20px;

    &:hover {
        background: $favorite-green;
    }
}